body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2) ;
  text-align: center;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
#add-btn, #clear-btn{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
#add-btn:hover, #clear-btn:hover {
    background-color: #388E3C;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

li span {
  flex: 1;
}

li button {
  margin-left: 5px;
}